# Build outputs
dist/
build/

# Dependencies
node_modules/

# Cache
.cache/
.eslintcache
.npm
.yarn

# Environment files
.env*

# Misc
.DS_Store
*.log
coverage/

# Anchor
.anchor
.DS_Store
target
node_modules
dist
build
test-ledger
